@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Nav Section */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 240px;
    margin-top: 10px;


}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-menu-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;

}

.nav-menu-button {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 17px 24px;
    border-radius: 8px;
    border: none;
}

.logo-container-h {
    font-size: 2.8rem;
    font-weight: 700;
}

.logo-container-g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Banner Section */

.banner-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 240px;
    margin-top: 10px;
    align-items: center;
    background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    ;
}


.banner-description-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-description-goat {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.banner-description-para {
    color: #534C64;
    font-size: 1..5rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 10px;
}

.btn-primary {
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    margin-top: 30px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-primary-blue {
    background: #4EC5F7;
}

.banner-container img {
    max-width: 100%;
    height: auto;
}

/* Main Section */

/* Online Games Section */
.online-games-title {
    text-align: center;
    margin-top: 80px;
}

.online-games-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 45px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.watch-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .watch-button {
    opacity: 1;
}
.image-container:hover img {
    filter: brightness(40%);
  }

/* Play Instantly Section */
.play-instantly-container {
    display: flex;
    align-items: center;
    padding: 0px 240px 0px 440px;
    gap: 200px;
    margin-top: 120px;
    width: 100%;

}

.colourful-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-description {
    width: 100%;
    height: auto;
}

.play-instantly-photos {
    width: 100%;
    

}
.main-photo{
    width: 100%;
    height: auto;
}

.position-relative {
    position: relative;
    width: 50%;
    margin-top: -270px;
    margin-left: -130px;
}


/* Game Select Section */
.game-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0px 300px;
    margin-top: 120px;
    margin-bottom: 120px;

}

.games {
    display: flex;
    align-items: center;
    border-radius: 50px
}

.games:hover {
    cursor: pointer;
    border: 1px solid rgb(248, 174, 63);
    color: rgb(248, 174, 63);
}


/* Footer Section */
.footer-container {
    justify-content: center;
    text-align: center;
    background: #0B0223;
    gap: 60px;
    padding-top: 110px;
    padding-bottom: 130px;

}

.footer-container div {
    justify-content: center;
}

.extra-color {
    color: #FFFFFF;

}

.footer-anchor-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 70px;
}

.footer-container a {
    text-decoration: none;
    gap: 60px;
    color: #FFFFFF;

}

.footer-logo-container {
    display: flex;
    gap: 40px;
    margin-top: 60px;
}

.small-font-container {
    display: flex;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    margin-top: 70px;
}

.small-font-copyright {
    margin-top: 20px;
}


/* Medium (L) Device */
@media screen and (max-width: 425px) {

    .nav-container,
    .nav-menu-container,
    .banner-container {
        flex-direction: column;
        padding: 10px;
        gap: 60px;

    }

    .logo-container,
    .nav-menu-container {
        justify-content: center;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .online-games-cards {
        flex-direction: column;
        align-items: center;
    }

    .play-instantly-container {
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }

    .footer-anchor-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-content: center;
        margin-top: 70px;
    }

    .game-select-container {
        padding: 0;
    }

}


/* Tablet Device */

@media screen and (min-width: 425px) and (max-width: 768px) {

    .nav-container,
    .nav-menu-container,
    .banner-container {
        flex-direction: column;
        padding: 10px;
        gap: 60px;

    }

    .logo-container,
    .nav-menu-container {
        justify-content: center;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .online-games-cards {
        flex-direction: column;
        align-items: center;
    }

    .play-instantly-container {
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }

    .game-select-container {
        padding: 0;
    }

}